{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["airbnb-base"],
  "rules": {
    "space-before-function-paren": ["error", "never"],
    "max-len": ["warn", 150],
    "no-console": "off",
    "arrow-parens": ["error", "as-needed"],
    "implicit-arrow-linebreak": ["off"]
  }
}
